* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --size-1: 3rem;                 /* 48 */
  --size-2: 2.75rem;              /* 44 */
  --size-3: 2.5rem;               /* 40 */
  --size-4: 2.25rem;              /* 36 */
  --size-5: 2rem;                 /* 32 */
  --size-6: 1.75rem;              /* 28 */
  --size-7: 1.5rem;               /* 24 */
  --size-8: 1.25rem;              /* 20 */
  --size-9: 1rem;                 /* 16 */
  --size-10: 0.75rem;             /* 12 */
  --size-11: 0.5rem;              /* 08 */
  --size-12: 0.25rem;             /* 04 */
  --size-13: 0.125rem;            /* 02 */
  --size-14: 0.0625rem;           /* 01 */

  --brand100: "hsl(230, 57%, 50%)";
  --brand200: "hsl(230, 68%, 54%)";
  --gray100: "hsl(210, 11%, 15%)";
  --gray200: "hsl(210, 10%, 23%)";
  --gray300: "hsl(210, 9%, 31%)";
  --gray400: "hsl(210, 7%, 56%)";
  --gray500: "hsl(210, 11%, 71%)";
  --gray600: "hsl(210, 16%, 93%)";
  --gray700: "hsl(210, 17%, 95%)";
  --gray800: "hsl(210, 17%, 98%)";
  --gray900: "hsl(200, 100%, 99%)";
  --alert100: "hsl(349, 57%, 50%)";
  --alert200: "hsl(349, 69%, 55%)";
  --sucess100: "hsl(162, 88%, 26%)";

  --title-1: 2rem;                /* 32 */
  --title-2: 1.5rem;              /* 24 */
  --title-3: 1.25rem;             /* 20 */
  --text-2:  1rem;                /* 16 */
  --text-3:  0.875rem;            /* 14 */

  --font-weight-2: 600;
  --font-weight-3: 500;
  --font-weight-4: 400;

  --radius-1: 2rem;
  --radius-2: 0.5rem;
  --radius-3: 0.25rem;

  --button-height-1: 2.375rem;      /* 38 */
  --button-height-2: 2rem;          /* 32 */

  --padding-btn-1: 0 1rem;          /* 16 */
  --padding-btn-2: 0 0.5rem;        /* 08 */
  --padding-cards: 2.5rem 1.75rem;

}

body {
  font-family: "Inter, sans-serif";
}
