@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&family=Nunito:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --size-1: 3rem;                 /* 48 */
  --size-2: 2.75rem;              /* 44 */
  --size-3: 2.5rem;               /* 40 */
  --size-4: 2.25rem;              /* 36 */
  --size-5: 2rem;                 /* 32 */
  --size-6: 1.75rem;              /* 28 */
  --size-7: 1.5rem;               /* 24 */
  --size-8: 1.25rem;              /* 20 */
  --size-9: 1rem;                 /* 16 */
  --size-10: 0.75rem;             /* 12 */
  --size-11: 0.5rem;              /* 08 */
  --size-12: 0.25rem;             /* 04 */
  --size-13: 0.125rem;            /* 02 */
  --size-14: 0.0625rem;           /* 01 */

  --brand100: #364FC7;
  --brand200: #3B56D9;
  --gray100: #212529;
  --gray200: #343A40;
  --gray300: #495057;
  --gray400: #868E96;
  --gray500: #ADB5BD;
  --gray600: #E9ECEF;
  --gray700: #F1F3F5;
  --gray800: #F8F9FA;
  --gray900: #FCFEFF;
  --alert100: #C73650;
  --alert200: #DB3C58;
  --sucess100: #087F5B;

  --title-1: 2rem;                /* 32 */
  --title-2: 1.5rem;              /* 24 */
  --title-3: 1.25rem;             /* 20 */
  --text-1:  1rem;                /* 16 */
  --text-2:  0.875rem;            /* 14 */
  --line-height: 150%;

  --font-weight-1: 600;
  --font-weight-2: 500;
  --font-weight-3: 400;

  --font-family-ibm: 'IBM Plex Sans', sans-serif;
  --font-family-nunito: 'Nunito', sans-serif;

  --radius: 0.25rem;

  --button-height-1: 2.375rem;      /* 38 */
  --button-height-2: 2rem;          /* 32 */

  --padding-btn-1: 0 1rem;          /* 16 */
  --padding-btn-2: 0 0.5rem;        /* 08 */

}

body {
  font-family: var(--font-family-ibm);
}